<!DOCTYPE html>
<html>
  <head>
    <mete charset = "utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <p>{{pContent}}</p>
  </body>

  <footer>copyright © {{currentYear}}</footer>
</html>
